.buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a{
            padding: 10px 20px;
            margin: 0;
            transition: ease-out 0.5s;
            transition-delay: 0.3s;
            width: 100px;

            :link,
            :visited{
                padding: 10px 20px;
            }

            :hover,
            :visited:hover {
                background-color: #262322;
                color: #f2e5d7;
                border-color: #f2e5d7;
                width: 130px;
                transition: ease-out 0.5s;
            }
        }
}

               
            