@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Light-webfont.woff) format(woff);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../font/Roboto-Bold-webfont.woff) format(woff);
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;

    background-color: #f2e5d7;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #262322;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 15%;

    background-color: #f2e5d7;
    border-bottom: 3px solid #262322;
    box-shadow: rgba(0, 0, 0, 0.40) 1.95px 1.95px 2.6px;

    h1{
        margin-left: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
}

nav{
    margin-right: 15px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    a{display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 60px;
    
        border: 1px solid #262322;
        border-radius: 3px;
        margin-right: 10px;
        text-decoration: none;
        color: #262322;
    
        transition: ease-out 0.5s;
        transition-delay: 0.3s;
    }

    a:active,
    a:visited:active{
            transform: scale(0.8);
            transition: ease-out 0.5s;
    }
}

.contact-link a {
    margin-right: 0;
}

.about-link,
.skills-link,
.contact-link{
    display: flex;
    align-items: center;
}

.contact-link a {
    margin-right: 0;
}

.about-link,
.skills-link,
.contact-link{
    display: flex;
    align-items: center;
}

.content {
    position: fixed;
    top: 15%;
    overflow: scroll;
    height: 85%; 
    width: 100%;    
}

section {
    border-bottom: 3px solid #262322;
    padding-left: 30px;

    :last-of-type{
        border-bottom: 0;
    }
