@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Light-webfont.woff) format(woff);
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #5D6063;
}

.bg-light{
    background-color: #EDEDED !important;
}

.border-dark{
    border-color: #5D6063;
}

.about-nav-button:hover {
    transform: scale(1.2);
}

.skills-nav-button:hover {
    transform: scale(1.2);
}

.contact-nav-button:hover {
    transform: scale(1.2);
}

.pt-10{
    margin-top: 400px !important;
}

.top-20{
    top: 20% !important;
}


@media only screen and (min-width: 750px) {

    header{
        flex-direction: column;
        height: 100% !important;
        width: 20% !important;
        border-bottom: 0 !important;
        border-right: 1px solid #5D6063;
    
    }

    article{
        height: 100% !important;
        width: 80% !important;
        left: 20% !important;
    }

    .top-20{
        top: 0 !important;
    }

    .buttonscontainer,
    .titlecontainer{
        display: block !important;
        
    }

    .justify-content-between{
        justify-content: start !important;
    }
}