@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Light-webfont.woff) format(woff);
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #5D6063;
}

.navbar{
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 2px solid #5D6063;
    width: 100%;
    height: 20%;
}

h1 {
    margin: 10px;
    display: flex;
    align-items: center;
}

.buttons-container{
    display: flex;
    margin: 10px;
}

.about-link,
.skills-link,
.contact-link{
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.about-link a,
.skills-link a,
.contact-link a{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.content {
    position: fixed;
    top: 20%;
    overflow: scroll;
    height: 80%; 
    width: 100%;

}

section {
    border-bottom: 2px solid #5D6063;
    margin-right: 10px;
    margin-left: 10px;
    height: 200px;
}



@media only screen and (min-width: 750px) {

    .navbar {
        flex-direction: column;
        height: 100%;
        width: 20%;
        border-bottom: 0;
        border-right: 1px solid #5D6063;
        justify-content: start;
    
    }

    .content{
        height: 100% !important;
        width: 80% !important;
        left: 20% !important;
        top: 0;
    }

    section{
        margin-right: 0;
        margin-left: 0;
    }

    

    .buttons-container,
    h1{
        display: block;
        
    }
}