@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Light-webfont.woff) format(woff);
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #5D6063;
}

.navbar{
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 2px solid #5D6063;
    width: 100%;
    height: 20%;
}

.name-container{
    margin: 10px;
    display: flex;
    align-items: center;
}

.buttons-container{
    display: flex;
    margin: 10px;
}

.about-nav-button,
.skills-nav-button,
.contact-nav-button{
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.about-nav-button a,
.skills-nav-button a,
.contact-nav-button a{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

article {
    position: fixed;
    top: 20%;
    overflow: scroll;
    height: 80%; 
    width: 100%;

}

section {
    border-bottom: 2px solid #5D6063;
    margin-right: 10px;
    margin-left: 10px;
    height: 200px;
}






.bg-light{
    background-color: #EDEDED !important;
}

.border-dark{
    border-color: #5D6063;
}

.about-nav-button:hover {
    transform: scale(1.2);
}

.skills-nav-button:hover {
    transform: scale(1.2);
}

.contact-nav-button:hover {
    transform: scale(1.2);
}

.pt-10{
    margin-top: 400px !important;
}

.top-20{
    top: 20% !important;
}


@media only screen and (min-width: 750px) {

    header{
        flex-direction: column;
        height: 100% !important;
        width: 20% !important;
        border-bottom: 0 !important;
        border-right: 1px solid #5D6063;
        justify-content: start !important;
    
    }

    article{
        height: 100% !important;
        width: 80% !important;
        left: 20% !important;
        top: 0;
    }

    

    .buttons-container,
    .name-container{
        display: block !important;
        
    }
}